@import "./components/contact.scss";

.bag {
  display: flex;
  justify-content: center;
}
.boxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 100vh;
  position: fixed;
  padding: 22px;
  position: absolute;
  border: 2px solid black;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 1px 1px 8px 1px;
  z-index: 19;

  transition: all 0.5s ease;
  // transform: translateY(-300%);
  &__herf{
    position: absolute;
    top: 10;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }
  &__input {
    border: 2px solid rgb(0, 194, 10);
    padding: 10px;
    width: 480px;
    margin-top: 40px;
    font-size: 23px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 0px rgb(0, 194, 10);
  }
  &__inputa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgb(0, 194, 10);
    box-shadow: 0px 0px 6px 0px rgb(0, 194, 10);
    padding: 10px;
    width: 480px;
    height: 30px;
    margin-top: 20px;
    font-size: 33px;
    border-radius: 10px;
    color: #ffffff;
    &:hover {
      opacity: 0.5;
    }
  }
}
